apiVersion: v1
kind: Pod
metadata:
  name: inference-client
  labels:
    app: inference-client
spec:
  containers:
  - name: inference-client
    image: inference-client:v0.2
    imagePullPolicy: IfNotPresent
    env:
    - name: TRITON_SERVER_URL
      value: "triton-server-service.default.svc.cluster.local:8001"
    - name: MNIST_RAW_DATA_PATH
      value: "/data"
    - name: IMAGE_DIR
      value: "/inference_datas"
    - name: OUTPUT_DIR
      value: "/output"
    volumeMounts:
    - name: inference-data
      mountPath: /inference_datas
    - name: mnist-raw-data
      mountPath: /data
    - name: inference-output-data
      mountPath: /output
  volumes:
  - name: mnist-raw-data
    persistentVolumeClaim:
      claimName: train-data-pvc
  - name: inference-data
    persistentVolumeClaim:
      claimName: inference-data-pvc
  - name: inference-output-data
    persistentVolumeClaim:
      claimName: inference-output-data-pvc
  restartPolicy: Never
